.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App_spacer {
  width: 300px;
}
.App_macroList {
  width: 130px;
}
.App_GridContainer {
  font-size: 12px;
  width: 100%;
}

.App_Paper {
  margin: 1%;
  padding: 1%;
}

.App_MacroList {
  margin-top: 10px;
  max-height: 300px;
}

.App_Eval {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 275px;
  padding-bottom: 24px;
}

.App_EvalOutput {
  max-height: 300px;
}

.AppTopContainer {
  width: 100%;
  padding-left: 5%;
  padding-right: 1%;
}

.App-header {
  background-color: #20499b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
