.red {
    color : red;
    font-weight: 400;
}

.Input_SourceCode {
    font-family: "Verdana";
    font-size: 12px;
    height: 90%;
    min-height: 200px;
    box-sizing: border-box;
    width:100%;
    border: 1px solid white;
    text-align: left;
    margin: 0px;
    border: "solid";
    border-color: grey;
}

.Input_SourceCode > span {
    display: inline;
}
