.red {
    color : red;
    font-weight: 700;
}

.Input_SourceCode {
    font-family: "Courier New",sans-serif;
    font-size: 16px;
    height: 90%;
    min-height: 200px;
    width:99%;
    border: 1px solid white;
    text-align: left;
    margin: 1%;
    border: "solid";
    border-color: grey;
}

.Input_SourceCode > span {
    display: inline;
}
