.Label_Label {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: black;
    border: 2px solid black;
    color: white;
    text-align: center;

    font: 32px Arial, sans-serif;
}