.LevelNumber {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 8px;
    background: black;
    border: 2px solid black;
    color: white;
    text-align: center;
    cursor: default;
    font: 32px Arial, sans-serif;
}

.LevelUpDown {
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 8px;
    font: 20px Arial, sans-serif;
}

.LevelUpDownLabel {
    position: relative;
    top: -9px;
}

.LevelUpLabel {
    left: -2px;
}

.RedAsError {
    background: red;
    border: 2px solid red;
}