.LevelNumber {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 8px;
    background: black;
    border: 2px solid black;
    color: white;
    text-align: center;
    cursor: default;
    font: 32px Arial, sans-serif;
}

.LevelUpDown {
    border-radius: 20%;
    background: gray;
    border: 1px solid grey;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 8px;
    margin-left: 5px;
    font: 24px Arial, sans-serif;
}

.LevelUp {
    margin-bottom: 15px;
}
.LevelUpDownLabel {
    position: relative;
    top: -13px;
    left: -2px;
}

.LevelUpLabel {
    top: -13px;
    left: -5px;
}

.RedAsError {
    background: red;
    border: 2px solid red;
}