.SimpleTextInput_Caption {
  font-family: "Courier New", sans-serif;
  font-size: 11px;
}
.SimpleTextInput_TextArea {
  font-size: 16px;
  height: 90%;
  width: 90%;
  padding-bottom: 20px;
  border: 0.5px solid gray;
  text-align: left;
  margin: 5px;
  height: 260px;
}

