#!/usr/bin/env bash
{#import {ROOT}/version.jim}
{@define REPO=$HOME/.m2/repository}
{@define CENTRAL=https://repo1.maven.org/maven2}
CLASSPATH=""

function download() {}
  DIR=${}1//\.//}
  if ! test -f {REPO}/$DIR/$2/$3/$2-$3.jar; then
    echo "downloading {CENTRAL}/$DIR/$2/$3/jamal-$2-$3.jar"
    mkdir -p {REPO}/$DIR/$2/$3
    if command -v wget &>/dev/null; then
      wget --no-check-certificate {CENTRAL}/$DIR/$2/$3/$2-$3.jar -O {REPO}/$DIR/$2/$3/$2-$3.jar
    else
      if command -v curl &>/dev/null; then
        curl {CENTRAL}/$DIR/$2/$3/jamal-$2-$3.jar -o {REPO}/$DIR/$2/$3/$2-$3.jar
      else
        echo "There is no curl nor wget available"
        exit 255
      fi
    fi
  fi
CLASSPATH=$CLASSPATH:{REPO}/$DIR/$2/$3/$2-$3.jar
}

download "com/javax0/jamal" "jamal-cmd" "{VERSION}"
{@comment
The following lines include the file dependencies.txt created by the dependency plugin
and stra
}

{#replaceLines replace="/^\\s*(.*?):(.*?):jar:(.*?):compile.*$/download \"$1\" \"$2\" \"$3\"" replace="/^\\s*//"
  {#killLines keep pattern=compile
    {#include [verbatim] {ROOT}/jamal-cmd/target/dependencies.txt}}}

java -cp "$CLASSPATH" javax0.jamal.cmd.JamalMain $*